<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">

<body style="background-color: gray;">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#">
            <h1 style="font-family: 'Sans-serif';">Contact Us</h1>
        </a>
    </nav>


    <div style="
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: center;
    padding-top:100px;
    ">
    <div class="card bg-dark mb-3" style="max-width: 18rem; color: azure;">
        <div class="card-body">
          <h5 class="card-title">Rahul Katinni.</h5>
          <p class="card-text"> Email: rahul.k20@iiits.in <br> Phone: 1234567890 <br> Address: IIIT SriCity, Chittoor.</p>
        </div>
      </div>


      <div class="card bg-dark mb-3" style="max-width: 18rem; color: azure;">
        <div class="card-body">
          <h5 class="card-title">Dinesh.</h5>
          <p class="card-text">Email: dinesh@gmail.com <br> Phone: 1234567890<br> Address: IIIT SriCity, Chittoor.</p>
        </div>
      </div>

      <div class="card bg-dark mb-3" style="max-width: 18rem; color: azure;">
        <div class="card-body">
          <h5 class="card-title">Chandra.</h5>
          <p class="card-text">Email: chandra@gmail.com <br> Phone: 1234567890<br> Address: IIIT SriCity, Chittoor.</p>
        </div>
      </div>

      <div class="card bg-dark mb-3" style="max-width: 18rem; color: azure;">
        <div class="card-body">
          <h5 class="card-title">Suresh.</h5>
          <p class="card-text">Email: suresh@gmail.com <br> Phone: 1234567890<br> Address: IIIT SriCity, Chittoor.</p>
        </div>
      </div>

      <div class="card bg-dark mb-3" style="max-width: 18rem; color: azure;">
        <div class="card-body">
          <h5 class="card-title">Yeshwanth.</h5>
          <p class="card-text">Email: yeshwanth@gmail.com <br> Phone: 1234567890<br> Address: IIIT SriCity, Chittoor.  </p>
        </div>
      </div>
    </div>
      
</body>
</html>